{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Qty</th>
        </thead>
        {% for x in obj %}
        <tr>
            <th>{{x.id}}</th>
            <th>{{x.name}}</th>
            <th>{{x.price}}</th>
            <th>{{x.qty}}</th>
        </tr>
        {% endfor %}
    </table>
    <a href = "{% url 'create_csv'  %}" class="btn btn-primary" >Create</Create>

{% endblock %}